* {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
}

:root {
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
}
